[submodule "vim_runtime"]
	path = vim_runtime
	url = git@github.com:amix/vimrc.git
[submodule "vim/bundle/vim-dm-syntax"]
	path = vim/bundle/vim-dm-syntax
	url = git@github.com:wlue/vim-dm-syntax.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
